h1{
	font-size:300%;
	text-align:center;
	color:#1b2538;
}

h2{
	color:white;
	text-align:center;
	background-color:#1b2538;
	margin:0% 15% 0% 15%;
	border-radius:5px;
	padding-top:1%;
	padding-bottom:1%;
}

form{
	font-size:140%;
}

#main input{
	margin-bottom:20%;
}
#colonne1{
	display:inline-block;
	margin-left:15%;
	width:40%;
}

#colonne2{
	display:inline-block;
	float: right;
	margin-right:5%;
	width:40%;
}

.colonne{
	margin-top:10%;
}

.lignesf{
	background-color:#1b2538;
	border-radius:10px;
	display:inline;
	width:100%;
	padding:4%;
	padding-bottom:5%;
}

input[type="submit"]
{
	padding: 5% 30% 5% 30%;
	border-radius:30px;
	font-size:150%;
	margin-bottom:14px;
	font-family: cursive;
	font-weight: bold;
    background-image: linear-gradient(#1b2538,black);
    color:white;
}

input[type="submit"]:hover
{
	padding: 5% 30% 5% 30%;
	border-radius:30px;
	font-size:160%;
	font-family: cursive;
	font-weight: bold;
    background-image: linear-gradient(black, #1b2538);
    color:white;
}